/* .kop-surat {
    margin-top: 20px;
    margin-left: auto;
    margin-right: auto;
  }



  @media only screen and (max-width: 1200px) {
    .logo {
      height: 100px;
      width: 100px;
      margin-top: 20px;
    }

    .kop-surat {
        margin-top: 0px;
        margin-left: 0px;
        font-weight: bold;
      }
   
  }



  @media only screen and (max-width: 600px) {
    .logo {
      height: 100px;
      width: 100px;
      margin-top: 35px;
    }

    .kop-surat {
        margin-top: 0px;
        margin-left: 0px;
        font-weight: bold;
      }
   
  } */


.judul-kop {
  display: inline-block;
  text-align: left;
  margin-left: 20px;
}

.logo {
  margin-top: 15px;
}